
*{
background-color: rgb(242, 234, 226);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: rgb(124, 94, 61);
}

h1{
text-align: center;
margin-top: 100px;
border-style: none;
font-weight: 9000px;

}

h2{
  text-align: center;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.description{
  width: 600px;
  height: 200px;
  overflow: auto;
  display: flex;
  margin-left: 350px;
}

#ingredients{
  margin-left: 120px;
  width: 1200px;
  height: auto;
}

#ingredients button{
border: none;
cursor: pointer;
border: none;
border-radius: 8px;

}

.search input[type="text"]{
  padding: 16px 8px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgb(124, 94, 61);;
  outline: none;
  margin-right: 10px;
  font-size: 25px;
  width: 500px;
  background-color: transparent;
}


.home{
  align-items: center;
  margin-top: 50px;
  /* font-weight: bold; */
  font-size: large;
}

.mainImg{
  width: 220px;
  height: auto;
}

.frontFace{
  position: relative;
  /* display: inline-block;
  cursor: pointer; */
}

.reveal {
  
  visibility: hidden;
  background-color: transparent;
  color: rgb(124, 94, 61);
  text-shadow: 90pt;
  font-weight:bolder;
  font-size: xx-large;
  border-style:solid;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  padding: 20px;
  position: absolute;
  z-index: 1;
  bottom: 20%;
  left: 60%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s;
  
}

.frontFace:hover .reveal {
  visibility: visible;
  opacity: 1;
}

/* .frontFace .reveal::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color:  #cb4c4c transparent transparent transparent;
} */



